
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	font-weight: bold;
}
.fail{
	background: linear-gradient(300deg,#EB951C,#9F0000,#FF0000,#6f0000);
	background-size: 180% 180%;
	animation: gradient-animation 15s ease infinite;
}

.gradient-styling {
  background: linear-gradient(300deg,#EB951C,#72BD52,#7DBC52,#568F3E);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}
.current {
	font-weight: bold;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-content {
	display:none;
	text-align: center;
	font-size: 24px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.fail .screen{
	box-shadow: 0px 0px 24px #370000;
}

.screen {
	background: #FFFFFF;
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #426E30;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.screen_content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.verification {
	padding: 60px;
	padding-top: 60px;
	position: relative;
	height: 100%;
}

.verification_icon {
	position: relative;
	padding: 0 60px 20px 60px;
}
.fail .button{
	background: linear-gradient(300deg,#EB951C,#9F0000,#FF0000,#FF3434);
		box-shadow: inset 0px 0px 30px #370000;
}
.button {
	width: 240px;
	border-radius: 20px;
	height: 40px;
	font-size: 16px;
	position: absolute;
	/* background: linear-gradient(300deg,#EB951C,#72BD52,#7DBC52,#568F3E); */
	/* background-size: 180% 180%; */
	/* animation: gradient-animation 15s ease infinite; */
	border: 0;
	box-shadow: inset 0px 0px 30px #426E30;
	color: white;
	letter-spacing: 1px;
	bottom: 60px;
}

.button:hover {

}

.divider {
	display: block;
	position: relative;
	border-radius: 20px;
	border: 1px solid;
	margin-top: 5%;
	margin-bottom: 10%;
	color: #d7d7d7;


}

.title {
	font-size: 24px;
	
}

.list {
	font-size: 16px;
	text-align: left;
}

.l-item {
	padding-bottom: 20px;
	padding-left:10px;
}
/* Iphone 13 */


